<html>
    <body>
        <h1>Cadastro de Vagas</h1>

        <form action="/vagas" method="post">

            <input type="hidden" id="id" name="id" />

            <div>
                <label for="job_type">Nome da vaga:</label>
                <input type="text" id="job_type" name="job_type" placeholder="coloque o nome da vaga" />
            </div>
            <div>
                <label for="client_id">Nome do cliente:</label>
                <input type="text" id="client_id" name="client_id" placeholder="coloque o nome do cliente" />
            </div>
            <div>
                <label for="candidate">Nome do candidato:</label>
                <input type="text" id="candidate" name="candidate" placeholder="coloque o nome do candidato" />
            </div>
            <div>
            <label for="value">Valor:</label>
                <input type="text" id="value" name="value" placeholder="150.25" />
            </div>

            <input type="submit" value="Salvar" />
        </form>
    </body>
</html>